<div class="advertisement-panel-container">
    <div class="sale" [@bounceInRightOnEnter]="bounceInRightOnEnter">
        <div class="top-sale">20% DISCOUNT</div>
        <div class="bottom-sale">XMAX20</div>
    </div>
</div>
<div class="company-description" [@bounceInDownOnEnter]="bounceInDownOnEnter">
    <div class="heading-text">
        <b><p class="heading"><span class="collored-words">Sunset Plate</span> is one of the <span class="collored-words">best</span> caterings in Poland based on customers opinion</p></b>
    </div>
    <div class="description">
        <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nobis non praesentium voluptates. Corporis alias iusto obcaecati distinctio facere fuga.</p>
    </div>
    <div class="button-container">
        <button class="check-out-diets-button">
            Check out diets
        </button>
    </div>
</div>