<app-top-toolbar></app-top-toolbar>
<div class="shipping-panel-content">
    <div class="shipping-info">
        <div class="map-section">
            <app-map></app-map>
        </div>
        <div class="shipping-info-content">
            <b><p class="heading">We are based in <span class="collored-words">Cracow</span>!</p></b>
            <div class="description">
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, rerum corporis? Voluptate facere voluptatem nesciunt distinctio, cupiditate iusto, omnis dolor a, perferendis quia amet. Corrupti, accusantium amet. Nihil est nobis laudantium praesentium illo laboriosam quidem tempora officiis molestiae recusandae, magni facere, ex aperiam consectetur! Expedita esse placeat et. Eaque distinctio corrupti illo quo soluta neque numquam libero obcaecati accusantium cupiditate!<br><br>If You are not sure if you are in the shopping zone please contact with Us</p>
            </div>
            <button class="contact-button"(click)="contactButtonClick()">Contact</button>
        </div>
    </div>
    
</div>