<div class="diet-card-container">
    <div class="image-container">
        <img class="diet-img" [src]="imgUrl" alt="">
    </div>
    <div class="diet-card-content">
        <div class="diet-card-heading">
            <b><p class="diet-name"> {{dietName}} </p></b>
            <i *ngIf="isVege" class="fa fa-leaf vege-icon"></i>
        </div>
        <p class="diet-description"> {{description}} </p>
        <button class="check-diet-button" (click)="routeToDietViewer()">
            Check
        </button>
    </div>
</div>