@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';

div.diet-info-container{
    height: calc(100vh - 100px);
    overflow: hidden;
}

div.diet-info-container{
    display: flex;
    justify-content: center;
}

div.diet-photos-gallery{
    width: 60%;
}

div.diet-info-content-container{
    width: 40%;
}

div.img-container{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

div.diet-info-content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.heading{
    display: flex;
    margin-top: 3vh;
}

p.diet-name-heading{
    font-size: 3vw;
    line-height: 3vw;
    color: rgb(237, 138, 49);
    margin-top: 2%;
}

p.diet-description{
    font-size: 1vw;
    line-height: 1vw;
}

div.description-content{
    width: 90%;
    text-align: justify;
    margin-top: 10%;
}

i.vege-icon{
    color: rgb(0, 184, 0);
    font-size: 1vw;
}

div.diet-parameters{
    font-size: 1vw;
    width: 90%;
    margin-top: 10%;
}

i.check{
    color: rgb(0, 184, 0);;
}

i.cross{
    color: red;
}

div.buy-diet-button-container{
    display: flex;
    width: 90%;
    justify-content: flex-start;
}

button.buy-diet-button{
    font-size: 1vw;
    line-height: 1vw;
    border-color: transparent;
    border-radius: 20px;
    background-color: rgb(237, 138, 49);
    height: 2vw;
    cursor: pointer;
    margin-top: 5%;
    font-family: "Sofia", sans-serif
}

button.buy-diet-button:hover{
    background-color: rgb(34, 34, 71);
    color: rgb(237, 138, 49);
    transition: 0.7s;
}