div.login-panel-content{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.login-form-container{
    height: 40vh;
    width: 25vw;
    background-color: rgb(34, 34, 71);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.login-fields{
    height: 4vh;
    width: 20vw;
    margin: 1vh;
    border-radius: 20px;
    border: none;
    padding-left: 1vw;
    transition: 0.3s;
}

input.login-fields:focus{
    outline: none;
    border: 3px solid rgb(237, 138, 49);
}

p.heading{
    font-size: 6vh;
    color: rgb(237, 138, 49);
}

p.dont-have-acc, span.collored-words{
    font-size: 2vh;
    margin: 10px;
    color: white;
}

span.collored-words{
    color: rgb(237, 138, 49);
    cursor: pointer;
}

button{
    font-size: 2vh;
    height: 4vh;
    width: 9vw;
    border-radius: 30px;
    border-color: transparent;
    background-color: rgb(237, 138, 49);
    color: white;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: "Sofia", sans-serif;
}

button:hover{
    background-color: white;
    color: rgb(237, 138, 49);
    transition: 0.7s;
}

input{
    text-align: center;
}

p.error{
    color: red;
}