<app-top-toolbar></app-top-toolbar>
<div class="contact-panel-content">
    <div class="img-section">
        <img src="../../../assets/organic-flat-customer-support_23-2148881015.webp" alt="">
    </div>
    <div class="contact-info">
        <b><p class="heading">Do you have any <span class="collored-words">questions</span>?</p></b>
        <div class="form-container" id="contact-form">
            <form action="" class="form-container">
                <input type="text" class="input-fields first-field" placeholder="Name">
                <input type="text" class="input-fields" placeholder="E-mail">
                <input type="text" class="input-fields" placeholder="Phone number">
                <textarea rows="4" cols="50" name="comment" form="contact-form" class="message" placeholder="Message"></textarea>
            </form>
            <button class="send-button">Send</button>
        </div>
    </div>
</div>