/* You can add global styles to this file, and also import other style files */
*{margin: 0;}
body { margin: 0; font-family: "Sofia", sans-serif}

* {
    scrollbar-width: auto;
    scrollbar-color: #ed8a31 #ffffff;
    }
    
    *::-webkit-scrollbar {
    width: 16px;
    }
    
    *::-webkit-scrollbar-track {
    background: rgb(34, 34, 71);
    }
    
    *::-webkit-scrollbar-thumb {
    background-color: #ed8a31;
    border-radius: 10px;
    }