<div class="diets-panel-content" id="diets-content">
    <p class="diets-heading">Diets</p>
    <div class="diet-cards-container">
        <swiper
        [autoplay]="{
          delay: 2500,
          disableOnInteraction: true
        }"
        [slidesPerView]="3"
        [spaceBetween]="30"
        [loop]="true"
        [loopFillGroupWithBlank]="true"
        [navigation]="true"
        class="myDietSwiper">
        <ng-template swiperSlide *ngFor="let card of diets"><app-diet-type-card [id]="card.id" [imgUrl]="card.imgUrl" [dietName]="card.name" [description]="card.description" [isVege]="card.isVege"></app-diet-type-card></ng-template>
      </swiper>
    </div>
</div>