<div class="menu-panel-content">
    <div class="search-parameters">
        <div class="search-input-container">
            <input type="text" class="search-input">
            <mat-icon>search</mat-icon>
        </div>
        <div class="cuisine-dropdown-container">
            <ng-multiselect-dropdown
            [placeholder]="'custom placeholder'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
    </div>
</div>