input.search-input{
    width: 12vw;
    height: 30%;
    font-size: 20px;
    text-align: center;
    border: 3px solid rgb(34, 34, 71);
    transition: 0.5s;
    border-radius: 5px;
    margin-left: 24px;
}

input.search-input:focus {
    outline: none;
    border: 3px solid rgb(237, 138, 49);
}

input.search-input:focus+mat-icon {
    color: rgb(237, 138, 49);
    transition: 0.3s;
}

div.search-parameters{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.search-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.cuisine-dropdown-container{
    width: 10vw;
}