<div class="menu-panel-content">
    <div class="search-parameters">
        <div class="search-input-container">
            <input type="text" class="search-input">
            <mat-icon>search</mat-icon>
        </div>
        <div class="cuisine-dropdown-container">
            <ng-multiselect-dropdown *ngIf="dropdownList.length > 0"
            [placeholder]="'Cuisine'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onDeSelectAll)="onDeSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="price-slider-container">
            <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options" class="custom-slider"></ngx-slider>
        </div>
        <button class="search-button">Search</button>
        <button class="add-dish-button"><i class="fa fa-plus"></i></button>
    </div>
    <div class="dishes-cards-container">
        <app-menu-dish-card *ngFor="let card of (dishes|async)" [imgUrl]="card.imgUrl" [name]="card.name" [cuisine]="card.cuisine" [type]="card.type" [price]="card.price"></app-menu-dish-card>
    </div>
    <div class="pagination-footer" *ngIf="numberOfDishes|async as numOfDishes">
        <ngb-pagination [collectionSize]="calcPages(numOfDishes)" [(page)]="pageNumber" (pageChange)="getDishesPagin()" aria-label="Default pagination"></ngb-pagination>
    </div>
</div>
<div class="whole-page">
    <mat-spinner *ngIf="!(dishes|async)"></mat-spinner>
</div>