div.search-parameters{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

input.search-input{
    width: 12vw;
    height: 30%;
    font-size: 2vh;
    text-align: center;
    border: 3px solid rgb(34, 34, 71);
    transition: 0.5s;
    border-radius: 5px;
}

input.search-input:focus {
    outline: none;
    border: 3px solid rgb(237, 138, 49);
}

input.search-input:focus+mat-icon {
    color: rgb(237, 138, 49);
    transition: 0.3s;
}

div.search-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.cuisine-dropdown-container{
    width: 15vw;
}

div.price-slider-container{
    width: 15vw;
}

::ng-deep .ngx-slider>.ngx-slider-pointer{
    background-color: rgb(237, 138, 49)!important;
}

::ng-deep .ngx-slider>.ngx-slider-pointer::after{
    background-color: rgb(34, 34, 71)!important;
}

::ng-deep .ngx-slider .ngx-slider-selection{
    background: rgb(34, 34, 71)!important;
}

button.search-button{
    background-color: rgb(34, 34, 71);
    color: rgb(237, 138, 49);
    font-size: 2vh;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    pointer-events: auto;
    font-family: "Sofia", sans-serif;
}

button.search-button:hover{
    cursor: pointer;
    background-color: rgb(237, 138, 49);
    color: rgb(34, 34, 71);
    transition: 0.7s;
}

::ng-deep .dropdown-list .filter-textbox input{
    padding: 0!important;
}

div.dishes-cards-container{
    height: 70vh;
}

div.pagination-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}